*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
h3{
    text-align: center;
    display: flow;
}

html{
    margin: 10px 10px;
    padding: 10px 10px;
}
form input{
    width: 90%;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}
.options{
    text-align: center;    
}
.button{
    border-radius: 10px;
}
.addbtn{
    background-color: blue;
}
.todo-item{
    display: flex;
    justify-content: space-between;
}


